.master-container {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 

  }
  
   
      
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .form-container {
    background-color: rgb(226, 214, 234);
    display: grid;
    grid-template-columns: 1fr 2fr; 
    max-width: 800px; 
    height: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure image covers the area */
  }
  
  .formulaire{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    width: 100%; 
    max-width: 100%;
  }
  input{
    // background-color:transparent;
    background-color:rgba(255, 255, 255, 0.762);

  }
  
  .formulaire form {
    display: flex;
    flex-direction: column;
  }
  
  .formulaire .btn {
    margin-top: 30px;
  }
  .form-control {
    margin-bottom: 10px;
    padding: 15px;
    margin-right: 10px;
    border: solid 1px rgb(97, 3, 141);
    border-radius: 4px;
    outline: none;
    width: 80%;
  }
  .btn-primary {
    width: 80%;
    padding: 15px;
    background-color:rgb(160, 93, 192);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 15px;
  }
  input{
    margin-top: 2px;
  }
  .form-control:hover{
    border: solid 2px rgb(71, 26, 88);
  }
  footer{
  
    color: rgb(131, 90, 125);
    display:flex;
    align-items: center;
    justify-content: center;
   }
   @media (max-width: 600px) {
    .form-container {
        grid-template-columns: 1fr; 
        height: auto;
    }
    .image-container {
        margin-top: 0;
        height: 70%;
        
    }
    .formulaire {
        margin-top: 20px;
        margin-left: 10px;
    }

}